<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome to PokeChess! Gotta Get 'em all!</h3>
        </div>
        <div class="panel-body">
<div class="media-left"> <a href="#"> <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="oak.jpeg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a> </div>            <blockquote>
                <p>{{ quote.content }}</p>
                <footer>Professor Oak</footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6 trg">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Play a live game and win POKEMON!</h3>
            </div>
            <div class="panel-body">
                <div id="trg"></div>
                <div class="caption">
                    <h5 class="text-center"><i class="fa fa-circle-o"></i>Micky Mouse <em>vs</em> <i class="fa fa-circle"></i> D. Duck</h5>
                    <h5 class="text-center">
                        <a href="/tv"><i class="fa fa-eye"></i>Do a puzzle!</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 pod">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Play Puzzles to WIN POKEMON!</h3>
            </div>
            <div class="panel-body">
                <div id="pod" data-fen="{{ puzzle.content }}"></div>
                <div class="caption">
                    <h5 class="text-center">{{ puzzle.comment }}</h5>
                    <h5 class="text-center">
                        <a id="podSolution" href="javascript:void(0)" data-toggle="popover"
                           data-placement="bottom" data-content="{{ puzzle.solution }}"><i class="fa fa-question-circle"></i> Show solution</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div id="logoutSuccess" hidden="hidden">{{ logoutSuccessMessage }}</div>
    <div id="registerSuccess" hidden="hidden">{{ registerSuccessMessage }}</div>
    <div id="welcomeMessage" hidden="hidden">{{ welcomeMessage }}</div>

</div>
